* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #121212e8;
  color: #fff;
  height: 100vh;
  width: auto;
}
a {
  text-decoration: none;
  color: white;
}
.container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: "16px";
}
.downloadCvBtn {
  display: block;
  margin-top: 20px;
  text-align: center;
  padding: 10px;
  border: 1px solid white;
  border-radius: 6px;
}
.downloadCvBtn:hover {
  box-shadow: 0px 0px 20px rgb(241, 246, 235);
}
#root header {
  box-shadow: none;
  padding: 15px;
}
.customLine {
  position: relative;
  height: 1px;
  width: 12em;
  background-color: white;
  margin-top: 10px;
}
.insideCustomLine {
  position: absolute;
  top: -7px;
  bottom: 0;
  height: 5px;
  width: 3em;
  background-color: whitesmoke;
  margin-top: 5px;
}
.active:after {
  content: "";
  width: 50%;
  height: 3px;
  background-color: #6ef10bd4;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}
.alert-top {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}
.card:hover {
  transform: scale(1.06);
  cursor: pointer;
  box-shadow: 0px 0px 20px rgb(241, 246, 235);
  /* box-shadow: 0px 0px 20px rgba(88, 134, 20, 0.642); */
}
.cursor {
  animation: blink 0.8s infinite;
}
.button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 0.5rem;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.cardSocialMedia {
  width: fit-content;
  height: fit-content;
  /* background-color: rgb(238, 238, 238); */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
  /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055); */
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  /* background-color: rgb(44, 44, 44); */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: 0.3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: 0.3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #128c7e;
  transition-duration: 0.3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
